# DataFrame Operations

1. Filter
2. Select
3. sort
4. group by
5.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [39]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
# Filter Data Frame

# Get all records where all records have tips less than $3

df_filter = df[df['tip'] < 3.0]
df_filter

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
6          8.77  2.00    Male     No   Sun  Dinner     2
8         15.04  1.96    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
12        15.42  1.57    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
30         9.55  1.45    Male     No   Sat  Dinner     2
31        18.35  2.50    Male     No   Sat  Dinner     4
33        20.69  2.45  Female     No   Sat  Dinner     4
36        16.31  2.00    Male     No   Sat  Dinner     3
38        18.69  2.31    Male     No   Sat  Dinner     3
40        16.04  2.24    Male     No   Sat  Dinner     3
41        17.46  2.54    Male     No   Sun  Dinner     2
43         9.68  1.32    Male     No   Sun  Dinner     2
48        28.55  2.05    Male     No   Sun  Dinner     3
50        12.54  2.50    Male     No   Sun  Dinner     2
51        10.29  2.60  Female     No   Sun  Dinner     2
53         9.94  1.56    Male     No   Sun  Dinner     2
57        26.41  1.50  Female     No   Sat  Dinner     2
58        11.24  1.76    Male    Yes   Sat  Dinner     2
61        13.81  2.00    Male    Yes   Sat  Dinner     2
62        11.02  1.98    Male    Yes   Sat  Dinner     2
64        17.59  2.64    Male     No   Sat  Dinner     3
66        16.45  2.47  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
193       15.48  2.02    Male    Yes  Thur   Lunch     2
195        7.56  1.44    Male     No  Thur   Lunch     2
196       10.34  2.00    Male    Yes  Thur   Lunch     2
198       13.00  2.00  Female    Yes  Thur   Lunch     2
199       13.51  2.00    Male    Yes  Thur   Lunch     2
201       12.74  2.01  Female    Yes  Thur   Lunch     2
202       13.00  2.00  Female    Yes  Thur   Lunch     2
203       16.40  2.50  Female    Yes  Thur   Lunch     2
208       24.27  2.03    Male    Yes   Sat  Dinner     2
209       12.76  2.23  Female    Yes   Sat  Dinner     2
210       30.06  2.00    Male    Yes   Sat  Dinner     3
213       13.27  2.50  Female    Yes   Sat  Dinner     2
215       12.90  1.10  Female    Yes   Sat  Dinner     2
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
220       12.16  2.20    Male    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
233       10.77  1.47    Male     No   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2

[123 rows x 7 columns]

In [6]:
print("shape of original dataframe",df.shape)
print("shape of filtered dataframe",df_filter.shape)

shape of original dataframe (244, 7)
shape of filtered dataframe (123, 7)

In [8]:
# Get all records where all records have tips less than $3 and sex is Male

df_filter_Gender = df[(df['tip'] < 3.0) & (df['sex']=='Male')]
print("shape of original dataframe",df.shape)
print("shape of filtered dataframe",df_filter_Gender.shape)

shape of original dataframe (244, 7)
shape of filtered dataframe (75, 7)

In [10]:
# Select the appropriate columns
print("Columns in original dataframe :",df.columns)

#If we need only "total_bill", "tip" and "day" for our analysis

df_select = df[['total_bill', 'tip','day']]

print("Columns in dataframe after select:",df_select.columns)

Columns in original dataframe : Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')
Columns in dataframe after select: Index(['total_bill', 'tip', 'day'], dtype='object')

In [12]:
# Filter and select together

df_filter_select = df.loc[df['tip'] < 3.0,['total_bill', 'tip','day']]
df_filter_select

     total_bill   tip   day
0         16.99  1.01   Sun
1         10.34  1.66   Sun
6          8.77  2.00   Sun
8         15.04  1.96   Sun
10        10.27  1.71   Sun
12        15.42  1.57   Sun
16        10.33  1.67   Sun
21        20.29  2.75   Sat
22        15.77  2.23   Sat
25        17.81  2.34   Sat
26        13.37  2.00   Sat
27        12.69  2.00   Sat
30         9.55  1.45   Sat
31        18.35  2.50   Sat
33        20.69  2.45   Sat
36        16.31  2.00   Sat
38        18.69  2.31   Sat
40        16.04  2.24   Sat
41        17.46  2.54   Sun
43         9.68  1.32   Sun
48        28.55  2.05   Sun
50        12.54  2.50   Sun
51        10.29  2.60   Sun
53         9.94  1.56   Sun
57        26.41  1.50   Sat
58        11.24  1.76   Sat
61        13.81  2.00   Sat
62        11.02  1.98   Sat
64        17.59  2.64   Sat
66        16.45  2.47   Sat
..          ...   ...   ...
193       15.48  2.02  Thur
195        7.56  1.44  Thur
196       10.34  2.00  Thur
198       13.00  2.00  Thur
199       13.51  2.00  Thur
201       12.74  2.01  Thur
202       13.00  2.00  Thur
203       16.40  2.50  Thur
208       24.27  2.03   Sat
209       12.76  2.23   Sat
210       30.06  2.00   Sat
213       13.27  2.50   Sat
215       12.90  1.10   Sat
217       11.59  1.50   Sat
218        7.74  1.44   Sat
220       12.16  2.20   Fri
222        8.58  1.92   Fri
224       13.42  1.58   Fri
225       16.27  2.50   Fri
226       10.09  2.00   Fri
228       13.28  2.72   Sat
229       22.12  2.88   Sat
230       24.01  2.00   Sat
233       10.77  1.47   Sat
235       10.07  1.25   Sat
236       12.60  1.00   Sat
237       32.83  1.17   Sat
240       27.18  2.00   Sat
241       22.67  2.00   Sat
242       17.82  1.75   Sat

[123 rows x 3 columns]

In [14]:
df.sort_values(by = 'total_bill')

     total_bill    tip     sex smoker   day    time  size
67         3.07   1.00  Female    Yes   Sat  Dinner     1
92         5.75   1.00  Female    Yes   Fri  Dinner     2
111        7.25   1.00  Female     No   Sat  Dinner     1
172        7.25   5.15    Male    Yes   Sun  Dinner     2
149        7.51   2.00    Male     No  Thur   Lunch     2
195        7.56   1.44    Male     No  Thur   Lunch     2
218        7.74   1.44    Male    Yes   Sat  Dinner     2
145        8.35   1.50  Female     No  Thur   Lunch     2
135        8.51   1.25  Female     No  Thur   Lunch     2
126        8.52   1.48    Male     No  Thur   Lunch     2
222        8.58   1.92    Male    Yes   Fri   Lunch     1
6          8.77   2.00    Male     No   Sun  Dinner     2
30         9.55   1.45    Male     No   Sat  Dinner     2
178        9.60   4.00  Female    Yes   Sun  Dinner     2
43         9.68   1.32    Male     No   Sun  Dinner     2
148        9.78   1.73    Male     No  Thur   Lunch     2
53         9.94   1.56    Male     No   Sun  Dinner     2
235       10.07   1.25    Male     No   Sat  Dinner     2
82        10.07   1.83  Female     No  Thur   Lunch     1
226       10.09   2.00  Female    Yes   Fri   Lunch     2
10        10.27   1.71    Male     No   Sun  Dinner     2
51        10.29   2.60  Female     No   Sun  Dinner     2
16        10.33   1.67  Female     No   Sun  Dinner     3
136       10.33   2.00  Female     No  Thur   Lunch     2
1         10.34   1.66    Male     No   Sun  Dinner     3
196       10.34   2.00    Male    Yes  Thur   Lunch     2
75        10.51   1.25    Male     No   Sat  Dinner     2
168       10.59   1.61  Female    Yes   Sat  Dinner     2
169       10.63   2.00  Female    Yes   Sat  Dinner     2
117       10.65   1.50  Female     No  Thur   Lunch     2
..          ...    ...     ...    ...   ...     ...   ...
44        30.40   5.60    Male     No   Sun  Dinner     4
187       30.46   2.00    Male    Yes   Sun  Dinner     5
39        31.27   5.00    Male     No   Sat  Dinner     3
167       31.71   4.50    Male     No   Sun  Dinner     4
173       31.85   3.18    Male    Yes   Sun  Dinner     2
47        32.40   6.00    Male     No   Sun  Dinner     4
83        32.68   5.00    Male    Yes  Thur   Lunch     2
237       32.83   1.17    Male    Yes   Sat  Dinner     2
175       32.90   3.11    Male    Yes   Sun  Dinner     2
141       34.30   6.70    Male     No  Thur   Lunch     6
179       34.63   3.55    Male    Yes   Sun  Dinner     2
180       34.65   3.68    Male    Yes   Sun  Dinner     4
52        34.81   5.20  Female     No   Sun  Dinner     4
85        34.83   5.17  Female     No  Thur   Lunch     4
11        35.26   5.00  Female     No   Sun  Dinner     4
238       35.83   4.67  Female     No   Sat  Dinner     3
56        38.01   3.00    Male    Yes   Sat  Dinner     4
112       38.07   4.00    Male     No   Sun  Dinner     3
207       38.73   3.00    Male    Yes   Sat  Dinner     4
23        39.42   7.58    Male     No   Sat  Dinner     4
95        40.17   4.73    Male    Yes   Fri  Dinner     4
184       40.55   3.00    Male    Yes   Sun  Dinner     2
142       41.19   5.00    Male     No  Thur   Lunch     5
197       43.11   5.00  Female    Yes  Thur   Lunch     4
102       44.30   2.50  Female    Yes   Sat  Dinner     3
182       45.35   3.50    Male    Yes   Sun  Dinner     3
156       48.17   5.00    Male     No   Sun  Dinner     6
59        48.27   6.73    Male     No   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
170       50.81  10.00    Male    Yes   Sat  Dinner     3

[244 rows x 7 columns]

In [15]:
df.sort_values(by = 'total_bill', ascending=False)

     total_bill    tip     sex smoker   day    time  size
170       50.81  10.00    Male    Yes   Sat  Dinner     3
212       48.33   9.00    Male     No   Sat  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
156       48.17   5.00    Male     No   Sun  Dinner     6
182       45.35   3.50    Male    Yes   Sun  Dinner     3
102       44.30   2.50  Female    Yes   Sat  Dinner     3
197       43.11   5.00  Female    Yes  Thur   Lunch     4
142       41.19   5.00    Male     No  Thur   Lunch     5
184       40.55   3.00    Male    Yes   Sun  Dinner     2
95        40.17   4.73    Male    Yes   Fri  Dinner     4
23        39.42   7.58    Male     No   Sat  Dinner     4
207       38.73   3.00    Male    Yes   Sat  Dinner     4
112       38.07   4.00    Male     No   Sun  Dinner     3
56        38.01   3.00    Male    Yes   Sat  Dinner     4
238       35.83   4.67  Female     No   Sat  Dinner     3
11        35.26   5.00  Female     No   Sun  Dinner     4
85        34.83   5.17  Female     No  Thur   Lunch     4
52        34.81   5.20  Female     No   Sun  Dinner     4
180       34.65   3.68    Male    Yes   Sun  Dinner     4
179       34.63   3.55    Male    Yes   Sun  Dinner     2
141       34.30   6.70    Male     No  Thur   Lunch     6
175       32.90   3.11    Male    Yes   Sun  Dinner     2
237       32.83   1.17    Male    Yes   Sat  Dinner     2
83        32.68   5.00    Male    Yes  Thur   Lunch     2
47        32.40   6.00    Male     No   Sun  Dinner     4
173       31.85   3.18    Male    Yes   Sun  Dinner     2
167       31.71   4.50    Male     No   Sun  Dinner     4
39        31.27   5.00    Male     No   Sat  Dinner     3
187       30.46   2.00    Male    Yes   Sun  Dinner     5
44        30.40   5.60    Male     No   Sun  Dinner     4
..          ...    ...     ...    ...   ...     ...   ...
117       10.65   1.50  Female     No  Thur   Lunch     2
169       10.63   2.00  Female    Yes   Sat  Dinner     2
168       10.59   1.61  Female    Yes   Sat  Dinner     2
75        10.51   1.25    Male     No   Sat  Dinner     2
196       10.34   2.00    Male    Yes  Thur   Lunch     2
1         10.34   1.66    Male     No   Sun  Dinner     3
16        10.33   1.67  Female     No   Sun  Dinner     3
136       10.33   2.00  Female     No  Thur   Lunch     2
51        10.29   2.60  Female     No   Sun  Dinner     2
10        10.27   1.71    Male     No   Sun  Dinner     2
226       10.09   2.00  Female    Yes   Fri   Lunch     2
82        10.07   1.83  Female     No  Thur   Lunch     1
235       10.07   1.25    Male     No   Sat  Dinner     2
53         9.94   1.56    Male     No   Sun  Dinner     2
148        9.78   1.73    Male     No  Thur   Lunch     2
43         9.68   1.32    Male     No   Sun  Dinner     2
178        9.60   4.00  Female    Yes   Sun  Dinner     2
30         9.55   1.45    Male     No   Sat  Dinner     2
6          8.77   2.00    Male     No   Sun  Dinner     2
222        8.58   1.92    Male    Yes   Fri   Lunch     1
126        8.52   1.48    Male     No  Thur   Lunch     2
135        8.51   1.25  Female     No  Thur   Lunch     2
145        8.35   1.50  Female     No  Thur   Lunch     2
218        7.74   1.44    Male    Yes   Sat  Dinner     2
195        7.56   1.44    Male     No  Thur   Lunch     2
149        7.51   2.00    Male     No  Thur   Lunch     2
111        7.25   1.00  Female     No   Sat  Dinner     1
172        7.25   5.15    Male    Yes   Sun  Dinner     2
92         5.75   1.00  Female    Yes   Fri  Dinner     2
67         3.07   1.00  Female    Yes   Sat  Dinner     1

[244 rows x 7 columns]

In [16]:
df.sort_index(axis = 0)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [17]:
df.sort_index(axis = 1)

      day     sex  size smoker    time   tip  total_bill
0     Sun  Female     2     No  Dinner  1.01       16.99
1     Sun    Male     3     No  Dinner  1.66       10.34
2     Sun    Male     3     No  Dinner  3.50       21.01
3     Sun    Male     2     No  Dinner  3.31       23.68
4     Sun  Female     4     No  Dinner  3.61       24.59
5     Sun    Male     4     No  Dinner  4.71       25.29
6     Sun    Male     2     No  Dinner  2.00        8.77
7     Sun    Male     4     No  Dinner  3.12       26.88
8     Sun    Male     2     No  Dinner  1.96       15.04
9     Sun    Male     2     No  Dinner  3.23       14.78
10    Sun    Male     2     No  Dinner  1.71       10.27
11    Sun  Female     4     No  Dinner  5.00       35.26
12    Sun    Male     2     No  Dinner  1.57       15.42
13    Sun    Male     4     No  Dinner  3.00       18.43
14    Sun  Female     2     No  Dinner  3.02       14.83
15    Sun    Male     2     No  Dinner  3.92       21.58
16    Sun  Female     3     No  Dinner  1.67       10.33
17    Sun    Male     3     No  Dinner  3.71       16.29
18    Sun  Female     3     No  Dinner  3.50       16.97
19    Sat    Male     3     No  Dinner  3.35       20.65
20    Sat    Male     2     No  Dinner  4.08       17.92
21    Sat  Female     2     No  Dinner  2.75       20.29
22    Sat  Female     2     No  Dinner  2.23       15.77
23    Sat    Male     4     No  Dinner  7.58       39.42
24    Sat    Male     2     No  Dinner  3.18       19.82
25    Sat    Male     4     No  Dinner  2.34       17.81
26    Sat    Male     2     No  Dinner  2.00       13.37
27    Sat    Male     2     No  Dinner  2.00       12.69
28    Sat    Male     2     No  Dinner  4.30       21.70
29    Sat  Female     2     No  Dinner  3.00       19.65
..    ...     ...   ...    ...     ...   ...         ...
214   Sat  Female     3    Yes  Dinner  6.50       28.17
215   Sat  Female     2    Yes  Dinner  1.10       12.90
216   Sat    Male     5    Yes  Dinner  3.00       28.15
217   Sat    Male     2    Yes  Dinner  1.50       11.59
218   Sat    Male     2    Yes  Dinner  1.44        7.74
219   Sat  Female     4    Yes  Dinner  3.09       30.14
220   Fri    Male     2    Yes   Lunch  2.20       12.16
221   Fri  Female     2    Yes   Lunch  3.48       13.42
222   Fri    Male     1    Yes   Lunch  1.92        8.58
223   Fri  Female     3     No   Lunch  3.00       15.98
224   Fri    Male     2    Yes   Lunch  1.58       13.42
225   Fri  Female     2    Yes   Lunch  2.50       16.27
226   Fri  Female     2    Yes   Lunch  2.00       10.09
227   Sat    Male     4     No  Dinner  3.00       20.45
228   Sat    Male     2     No  Dinner  2.72       13.28
229   Sat  Female     2    Yes  Dinner  2.88       22.12
230   Sat    Male     4    Yes  Dinner  2.00       24.01
231   Sat    Male     3    Yes  Dinner  3.00       15.69
232   Sat    Male     2     No  Dinner  3.39       11.61
233   Sat    Male     2     No  Dinner  1.47       10.77
234   Sat    Male     2    Yes  Dinner  3.00       15.53
235   Sat    Male     2     No  Dinner  1.25       10.07
236   Sat    Male     2    Yes  Dinner  1.00       12.60
237   Sat    Male     2    Yes  Dinner  1.17       32.83
238   Sat  Female     3     No  Dinner  4.67       35.83
239   Sat    Male     3     No  Dinner  5.92       29.03
240   Sat  Female     2    Yes  Dinner  2.00       27.18
241   Sat    Male     2    Yes  Dinner  2.00       22.67
242   Sat    Male     2     No  Dinner  1.75       17.82
243  Thur  Female     2     No  Dinner  3.00       18.78

[244 rows x 7 columns]

In [20]:
df.groupby('time').mean()

        total_bill       tip      size
time
Lunch    17.168676  2.728088  2.411765
Dinner   20.797159  3.102670  2.630682

In [21]:
df.groupby('time').aggregate(['min', np.median, max])

       total_bill                  tip              size
              min  median    max   min median   max  min median max
time
Lunch        7.51  15.965  43.11  1.25   2.25   6.7    1      2   6
Dinner       3.07  18.390  50.81  1.00   3.00  10.0    1      2   6

In [24]:
df.groupby('time').aggregate({'total_bill': 'min',
                             'tip': 'max'})

        total_bill   tip
time
Lunch         7.51   6.7
Dinner        3.07  10.0

In [25]:
# Frequency of unique value

df['time'].value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

In [40]:
df.count()

total_bill    244
tip           244
sex           244
smoker        244
day           244
time          244
size          244
dtype: int64

In [45]:
df['tip'].nunique()

123

In [55]:
df.nunique()

total_bill    229
tip           123
sex             2
smoker          2
day             4
time            2
size            6
dtype: int64

In [56]:
df['size'].value_counts()

2    156
3     38
4     37
5      5
6      4
1      4
Name: size, dtype: int64

In [60]:
#Which party size occurs the most frequently?

df['size'].value_counts(sort=True, ascending=False).index[0]

2    156
3     38
4     37
5      5
6      4
1      4
Name: size, dtype: int64

In [51]:
#Which party size occurs the least frequently?

df['size'].value_counts(sort=True,ascending=True).index[0]

1

In [26]:
#Summarization

import pandas as pd
import numpy as np

df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                [np.nan, np.nan], [0.75, -1.3]],
               index=['a', 'b', 'c', 'd'],
               columns=['one', 'two'])

print("Original Data Frame is: \n",df)

print("Sum is: \n",df.sum())

print("Sum over the axis 1 : \n",df.sum(axis = 1))

Original Data Frame is:
     one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3
Sum is:
 one    9.25
two   -5.80
dtype: float64
Sum over the axis 1 :
 a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [27]:
#NA values are excluded unless the entire slice (row or column in this case) is NA. This
#can be disabled using the skipna option:
print("Original Data Frame is: \n",df)
print("Sum with NA: \n",df.sum(axis=1, skipna=False))
print("Mean with NA: \n",df.mean(axis=1, skipna=False))

Original Data Frame is:
     one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3
Sum with NA:
 a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64
Mean with NA:
 a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

# NA and None Values

Pandas automatically type-casts when NA values are present. For example, if we set a value in an integer array to np.nan, it will automatically be upcast to a floating-point type to accommodate the NA:

In [28]:
x = pd.Series(range(2), dtype=int)
x

0    0
1    1
dtype: int32

In [29]:
x[0] = None
x

0    NaN
1    1.0
dtype: float64

# Typeclass	    Conversion When Storing NAs	    NA Sentinel Value

#floating	          No change	                                         np.nan
#object	              No change	                                         None or np.nan
#integer	          Cast to float64	                                 np.nan
#boolean	          Cast to object	                                 None or np.nan


Keep in mind that in Pandas, string data is always stored with an object dtype.

# Operations of NULL

#isnull(): Generate a boolean mask indicating missing values
#notnull(): Opposite of isnull()
#dropna(): Return a filtered version of the data
#fillna(): Return a copy of the data with missing values filled or imputed

In [30]:
data1 = pd.Series([1,2,3,np.nan])
data1

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [31]:
data1.isnull()

0    False
1    False
2    False
3     True
dtype: bool

In [32]:
data1.notnull()

0     True
1     True
2     True
3    False
dtype: bool

In [35]:

data1.dropna()
#print(data2)

0    1.0
1    2.0
2    3.0
dtype: float64

In [37]:
data1.fillna(4.0)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [58]:
# Merge

import pandas as pd

df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                 'data1': range(7)})

df2 = pd.DataFrame({'key': ['a', 'b', 'd'],
                 'data2': range(3)})

print("First Dataframe: \n",df1)

print("Second Dataframe: \n",df2)

#This is an example of a many-to-one merge situation; the data in df1 has multiple rows labeled a and b, 
#whereas df2 has only one row for each value in the key column. Calling merge with these objects we obtain:

print("Many-to-one Merge: \n",pd.merge(df1, df2))

First Dataframe:
   key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6
Second Dataframe:
   key  data2
0   a      0
1   b      1
2   d      2
Many-to-one Merge:
   key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [53]:
print("Many-to-one Merge: \n",pd.merge(df1, df2, on = 'key'))

Many-to-one Merge:
   key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [54]:
print("Left Outer Join: \n",pd.merge(df1, df2, on='key', 
                                     how='left'))

Left Outer Join:
   key  data1  data2
0   b      0    1.0
1   b      1    1.0
2   a      2    0.0
3   c      3    NaN
4   a      4    0.0
5   a      5    0.0
6   b      6    1.0